mixin postPreview(post, studyId)
    a.preview-card(data-createdat=post.createdAt, href=`${studyId}/posts/${post._id}`)  
        h1.post__totalTime=post.totalTime
        h2.post__title=post.title
        small.post__username=post.author.username 