mixin roomDetail(room)
    textarea(disabled, cols="30", rows="10")=room.content
    h4=room.author.username
    h4=room.hashtags
    h4=room.createdAt
    each member in room.members
        h4=member.username  
    if String(room.author._id) === String(loggedInUser._id) 
        a(href=`${room._id}/edit`) 스터디 편집 &rarr;   
        a(href=`${room._id}/delete`) 스터디 삭제 &rarr; 
    hr
    each comment in room.comments 
        h4=comment 
    else 
        h4 댓글이 없습니다.