mixin roomPreview(room)
    a(href=`/rooms/${room._id}`).room__preview 
        span=room.title
        .room__description 
            small=room.filtering 
            small=room.author.username 
        //- br 
        //- small=room.createdAt 