extends base.pug

block content 
    .form-container.inner
        form(method="POST").form.form__editRoom
            input(type="text", placeholder="제목", value=room.title, name="title", required)
            textarea.form__textarea(cols="30", rows="10", name="content", placeholder="내용", required)=room.content
            .form__radio(data-filtering=room.filtering)
                //- javascript 활용해서 checked attribures 추가 (셋 중 하나는 반드시 선택되도록)
                input(type="radio", id="toeic", name="filtering", value="toeic")
                label(for="toeic") 토익
                input(type="radio", id="official", name="filtering", value="official")
                label(for="official") 공시
                input(type="radio", id="self", name="filtering", value="self")
                label(for="self") 자율
            input(type="submit", value="편집하기")
        ul#memberList.member-list(data-id=room._id)
            each member in room.study.members.filter(member => String(member._id) !== String(user._id))
                li.member
                    span=member.username  
                    button.btn.delete__btn(data-id=member._id) ❌
        each comment in room.comments 
            span.comment=comment 
        else 
            span.comment 댓글이 없습니다.

block script 
    script(src="/assets/js/deleteMember.js") 