extends base.pug

block content
    h2=`공부시작: ${post.studyStart}`
    h2=`공부종료: ${post.studyEnd}`
    h2=`쉬는시간 시작: ${post.breakStart}`
    h2=`쉬는시간 종료: ${post.breakEnd}`
    h2=`총 공부 시간: ${post.totalTime}`
    hr
    a(href=`${post._id}/edit`) 기록 수정 