extends base.pug

block content
    .room-container.inner#roomContainer(data-id=room._id)
        textarea.room__textarea(disabled, cols="30", rows="10")=room.content
        .room__description
            h4.room__username=`글쓴이: ${room.author.username}`
            h4.room__createdAt=`생성일: ${room.createdAt}`
            .room__btns
                if room.study.members.includes(loggedInUser._id)
                    a.room__btn.btn(href=`/studies/${room.study._id}`) 바로 가기
                else 
                    button#joinBtn.room__btn.btn 참여하기
                if String(room.author._id) === String(loggedInUser._id) 
                    a.room__btn.btn(href=`${room._id}/edit`) 편집 &rarr;   
                    a.room__btn.btn(href=`${room._id}/delete`) 삭제 &rarr; 
            form#commentForm.comment-form
                input(type="text")
                button 작성 
            div#commentSection 
                each comment in room.comments.reverse()
                    .comment
                        span.comment__content=comment.content
                        span.comment__author=comment.author.username
                else 
                    span#noComment 댓글이 없습니다.
block script
    script(src="/assets/js/apiSection.js") 
    script(src="/assets/js/commentSection.js") 